/* Pseudofish main stylesheet
   Author: Geoff Wilson
   Version: 1
 */

@import url("reset.css");
@import url("pygment.css");


body {
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    background-color: #8794A5;
}

@media (max-width : 640px) {
    .article, .archives, .page, .articles, .topcolor, .topheader, .pagefooter {
        padding: 0 0.8em 0;
    }
    .content ul, .content ol {
        padding-left: 1.5em;
    }
    .content img {
        width: 100%;
    }
}

@media (min-width : 640px) {
    .article, .archives, .page, .articles, .topcolor, .topheader, .pagefooter {
        width: 35em;
        padding: 0 2.5em 0;
        margin: 0 auto 0;
        border-right: 1px solid #576D8A;
        border-left: 1px solid #576D8A;
    }
}

.pagefooter {
    color: #B8C1CD;
    background-color: #576D8A;
    padding-top: 0.5em;
    padding-bottom: 3em;
}

.copyright {
    padding-top: 1.0em;
    padding-bottom: 0.5em;
    text-align: right;
    font-size: 0.8em;
}

.topcolor {
    background-color: #576D8A;
    height: 1em;
}

.topheader {
    text-align: right;
    background-color: white;
    padding-bottom: 1.5em;
}

.topheader h1 {
    padding-top: 0.2em;

    font-weight: bold;
    font-size: 1.8em;
}

.topheader a, .topheader a:visited {
    color: #576D8A;
}

.titleheader {
    color: #576D8A;
    font-size: 0.8em;
}

.titleheader .category {
    font-weight: bold;
}

.titleheader a, .titleheader a:visited {
    color: #576D8A;
}

.titleheader abbr {
    text-transform: uppercase;
}

.articletitles li {
    padding-bottom: 0.5em;
}


.subheader {
    color: #B8C1CD;
    font-size: 0.9em;
}

h2.category {
    font-size: 1.3em;
    font-weight: bold;
    color: #576D8A;
    padding-bottom: 1em;
}

.archives, .articles, .article, .page {
    background-color: white;
}

.articletitles {
    list-style-type: none;
    padding-bottom: 1.5em;
}

.entry-title, .article .title, .page .title {
    font-size: 1.6em;
    font-weight: bold;
    color: #87A9D5;
    padding-bottom: 0.3em;
}

.article .title {
    padding-bottom: 0.8em;
}

/* Links */

a, a:visited {
    text-decoration: none;
    border: none;
}

.entry-title a, .entry-title a:visited, .article .title a, .article.title a:visited {
    color: #87A9D5;
}

.pagefooter a, .pagefooter a:visited {
    color: #eee;
}

/* Site Content */

.content h2, h3, h4, h5 {
    color: #87A9D5;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.7em;
}

.content sup {
    vertical-align:super;
    font-size: 0.8em;
}

.content h2 {
    font-size: 1.4em;
}

.content h3 {
    font-size: 1.3em;
}

.content h4 {
    font-size: 1.1em;
}

.content em {
    font-style: italic;
}

.content a {
    color: #4c4c4c;
}

.content {
    line-height: 1.3em;
    padding-bottom: 1.5em;
}

.content p {
    padding-top: 0.3em;
    padding-bottom: 0.7em;
}

.content li {
    margin-bottom: 0.3em;
}

.content ol, .content ul {
    margin-bottom: 0.7em;
}

.content blockquote {
    border-left: 7px solid #B8C1CD;
    margin: 0em 0em 1.5em;
    padding: 0.5em 1.5em;
    font-size: 0.9em;
}

.content a:link, .content a:visited {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 0.15em solid #a9a9a0;
}

.content a:hover {
    text-decoration: none;
    border-bottom: 0.12em solid #fa0;
}

.content .author {
    font-size: 0.92em;
    padding-bottom: 0.5em;
}

.post-info {
    padding-bottom: 2em;
    text-align: right;
    font-size: 0.9em;
}

.post-info a, .post-info a:visited {
    color: #576D8A;
    font-weight: bold;
}



/* Utils */

.paginator {
    text-align: center;
}

/* Code */

.codehilite, code, pre {
    font-family: 'panic sans','bitstream vera sans mono',consolas,'lucida console',monaco,'courier new', monospace;
    font-size: 0.9em;
}

.codehilite {
    font-size: 0.8em;
    background-color: #F5FCFC;
    color: #404040;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding: 0.2em;
    overflow: auto;
}

.linenos {
    font-size: 0.8em;
    color: #B8C1CD;
}

td.code {
    overflow: auto;
}

.pgp {
    font-family: 'lucida console',monaco,'courier new', monospace;
    font-size: 0.8em;
}