{% extends "base.html" %}

{% block content %}
<section class="archives">
<ol class="articletitles">
{% for article in dates %}
<li>
  <article class="hentry">
    <header>
      <abbr itemprop="datePublished" content="{{ article.date.isoformat() }}" class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>
      <h2 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}</a>
      </h2>
    </header>
  </article>
</li>
{% endfor %}
</ol>
</section>
{% endblock %}
