{% extends "base.html" %}
{% block head %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ article.title|striptags }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}" />
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="@gmwils">
  <meta name="twitter:creator" value="@gmwils">
  <meta name="twitter:description" value="{{ article.summary|striptags }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ article.title|striptags }}">
{% endblock %}
{% block title %}{{ article.title|striptags }} &mdash; pseudofish.org{% endblock %}
{% block content %}
<section class="article">
  <header>
    <h2 class="title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Link to {{ article.title|striptags }}">{{ article.title }}</a>
    </h2>
  </header>
  <div class="content">
    {{ article.content }}
  </div>
  <footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
    {% if article.author %}
    <address class="vcard author">
      By <a href="/pages/contact.html">Geoff van der Meer</a>
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
</section>
{% endblock %}
