{% extends "base.html" %}
{% block head %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ article.title|striptags }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}" />
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="@gmwils">
  <meta name="twitter:creator" value="@gmwils">
  <meta name="twitter:description" value="{{ article.summary|striptags }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ article.title|striptags }}">
  <link rel="author" href="https://plus.google.com/+GeoffvanderMeer77" />
{% endblock %}
{% block title %}{{ article.title|striptags }} &mdash; pseudofish.org{% endblock %}
{% block content %}
<section class="article" itemscope itemtype="http://schema.org/Article">
  <header>
    <div class="titleheader"><abbr itemprop="datePublished" content="{{ article.date.isoformat() }}" class="published" title="{{ article.date.isoformat() }}">
        {{ article.date.strftime("%e %B, %Y") }}
      </abbr>
      &mdash;
      <a class="category" href="{{ article.category.url }}">{{ article.category }}</a>
    </div>
    <h2 class="title">
      <a itemprop="url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Link to {{ article.title|striptags }}">{{ article.title }}</a>
    </h2>
  </header>
  <div class="content">
    {{ article.content }}
  </div>
  <footer class="post-info">
    <div class="author">
      <address class="vcard author">
        By <a href="/pages/contact.html">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name" class="fn">
              Geoff van der Meer
            </span>
          </span>
        </a>
      </address>
    </div>
  </footer><!-- /.post-info -->
</section>
{% endblock %}
