<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

{% block head %}{% endblock head %}

  <link href="http://feeds2.feedburner.com/Pseudofish" type="application/atom+xml" rel="alternate" title="pseudofish" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Geoff Wilson"/>
  <meta name="copyright" content="&copy; Copyright 2005 to Present"/>
  <meta property="og:site_name" content="Pseudofish" />

  <meta name="description" content="Geoff Wilson's site covering technology, development, agile practices, management and strategy."/>

  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://gmwils.myopenid.com/" />

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
    _uacct = "UA-53198-1";
    urchinTracker();
  </script>
</head>

<body>
  <div class="topcolor"></div>
  <header class="topheader">
    <h1><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
    <p class="subheader">powered by text files</p>
  </header>
  {% block content %}
  {% endblock %}
  <footer class="pagefooter">
  </footer>
</body>
</html>
