<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

{% block head %}{% endblock head %}

  {% include "sitemetadata.html" %}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

  {% include "analytics.html" %}
</head>

<body>
  <div class="topcolor"></div>
  {% include "header.html" %}
  {% block content %}
  {% endblock %}
  {% include "footer.html" %}
</body>
</html>
